<!DOCTYPE html>
<html>
<head>
  <title>RP</title>
  <%= stylesheet_link_tag    "r_p/application", media: "all" %>
  <%= javascript_include_tag "r_p/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
